@page "/profiles/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Profile</h3>
<FormComponent ButtonText="Update" OnValidSubmit="EditProfile" profile="profile" />

@code {
	[Parameter] public int id { get; set; }
	Profile? profile = new Profile();

	protected async override Task OnParametersSetAsync()
	{
		profile = await _client.GetFromJsonAsync<Profile>($"{Endpoints.ProfilesEndpoint}/{id}");

	}

	async Task EditProfile()
	{
		await _client.PutAsJsonAsync($"{Endpoints.ProfilesEndpoint}/{id}", profile);
		_navManager.NavigateTo("/profiles/");
	}
}
